# Theory Questions And Answers

1.	What are data structures, and why are they important?
   - Data structures are not just about storing data; they also define the relationships between data elements and the operations that can be performed on them. Different data structures are suited for different tasks, and choosing the right one can significantly impact the performance of a program
   Efficiency, Organization, Scalability, Code Readability, Problem Solving.etc

2.	Explain the difference between mutable and immutable data types with examples?
   - mutable data types can be modified after creation, while immutable data types cannot. Lists, dictionaries, and sets are mutable, meaning their contents can be changed. Strings and tuples are immutable, meaning they cannot be changed once created.
 - Mutable Example:

  Lists: Lists are ordered, mutable sequences that can contain elements of    different data types. You can add, remove, or modify elements within a list after it's created.
 - my_list=
  my_list.append(4)  
  print(my_list)  
  my_list = 0  
  print(my_list)  

  - Immutable Example:
           Strings: Strings are sequences of characters that cannot be modified after creation. To change a string, you must create a new string.
           my_string = "hello"
           my_string = "Hello"  
           print(my_string)

3.	What are the main differences between lists and tuples in python?
  -  Lists: are mutable, meaning their elements can be changed (added,   removed,   or modified) after the list has been created.
  - Tuples: are immutable, meaning their elements cannot be changed once the tuple is created.

4.	Describe how dictionaries store data?
   - Dictionaries are unordered collections of data and are represented with curly brackets { } . Like lists, dictionaries are mutable(changeable) and indexed. With dictionaries, data is stored in a key:value format. In this example, myCar is the variable that we have assigned our dictionary to.

5.	Why might you use a set instead of a list in python?
   - sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

6.	What is a string in python, and how is it different from a list?
   - A string is a sequence of characters. A list a sequence of values which can be characters, integers or even another list (referred to as a nested list). A dictionary is a more general version of a list and is made up a set of keys and values where there is a mapping between a given key and its corresponding value.

7.	How do tuples ensure data integrity in python?
   - Tuples in Python ensure data integrity primarily through their immutability. This characteristic means that once a tuple is created, its elements cannot be modified, added, or removed.

8.	What is a hash table, and how does it relate to dictionaries in python?
  - A hash table is a data structure that stores key-value pairs, allowing for efficient retrieval of values based on their associated keys. It achieves this efficiency by using a hash function to map keys to numerical indices, which then point to specific locations (buckets or slots) in an underlying array where the corresponding values are stored. This mapping allows for average-case constant time complexity for operations like insertion, deletion, and lookup.
  The relationship between hash tables and dictionaries in Python is that Python's built-in dict type is implemented using a hash table. This means that when you create and use a dictionary in Python, you are internally utilizing the principles and mechanisms of a hash table.

9. Can lists contain different data types in python?
  - Yes, Python lists can contain elements of different data types. This is a key feature of Python lists, making them highly flexible and versatile.

10.	Explain why strings are immutable in python?
  - Python strings are immutable, meaning their content cannot be changed after they are created. Any operation that appears to modify a string, such as concatenation or character replacement, actually results in the creation of a new string object. The original string remains unchanged in memory.

11.	What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries excel in scenarios requiring fast lookups, key-value associations, and complex data mappings, while lists are ideal for ordered collections, sequential processing, and simple data storage.

12.	Describe a scenario where using a tuple would be preferable over a list?
   - Use a list if you need a mutable collection of items where you may need to add, remove, or change elements. Lists are more flexible and have more built-in methods, making them ideal for dynamic collections. Use a tuple if you need an immutable collection where the elements won't change after creation.

13.	How do sets handle duplicate values in python?
  - Python sets fundamentally do not allow duplicate values. They are  designed to store only unique elements. When an attempt is made to add an element that already exists within a set, the set simply ignores the addition and the existing element remains, effectively preventing any duplicates from being stored.

14.	How does the “in” keyword work differently for lists and dictionaries?
   - As mentioned above, the in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

15.	Can you modify the elements of a tuple? Explain why or why not?
   - No, you cannot directly modify the elements of a Python tuple. Tuples are immutable, meaning their contents cannot be changed after creation. This is a fundamental characteristic of tuples, differentiating them from lists which are mutable.

16.	What is a nested dictionary, and give an example of its use case?
  - A nested dictionary in Python is a dictionary that contains other dictionaries as its values. This allows you to create hierarchical data structures, where each level represents a different layer of information. Essentially, it's a dictionary within a dictionary, enabling complex relationships to be represented effectively.

17.	Describe the time complexity of accessing elements in a dictionary?
  - Python dictionaries provide a fast and efficient way to store and retrieve data using key value pair so understanding the time complexities of dictionary operations is very important for optimizing performance in our programs.

18.	In what situations are lists preferred over dictionaries?
   - If you need an ordered collection, like a sequence of user actions, lists are your go-to. On the other hand, when you need quick look-ups, like mapping usernames to user data, dictionaries are invaluable.

19.	Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionary is considered as an unordered collection of objects... A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added.

20.	Explain the difference between a list and a dictionary in terms of data retrieval?
   - Lists and Dictionaries in Python are inbuilt data structures that are used to store data. Lists are linear in nature whereas dictionaries stored the data in key-value pairs. In this article, we will see the difference between the two and find out the time complexities and space complexities which arises when we try to store data and try to perform certain operations on them.

# Practical Questions And Answers

1. Write a code to create a string with your name and print it.?

In [ ]:
my_name = "Jayanta"
print(my_name)

Jayanta

2. Write a code to find the length of the string “Hello World”.?

In [ ]:
string = "Jayanta"
length = len(string)
print(length)

7

3. Write a code to slice the first 3 characters from the string “Python Programming”.?

In [ ]:
my_string = "python programming"
sliced_string = my_string[:3]
print(sliced_string)

pyt

4. Write a code to convert the string “hello” to uppercase.?

In [ ]:
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

5. Write a code to replace the word “apple” with “orange” in the string “I like apple”.?

In [ ]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.?

In [ ]:
# Create a list with numbers from 1 to 5
my_list = [1, 2, 3, 4, 5]
# Print the list
print(my_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1,2,3,4]

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1,2,3,4,5]

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list [‘a’,’b’,’c’,’d’]

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10. Write a code to reverse the list [10,20,30,40,50].

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100,200,300 and print it.?

In [ ]:
my_tuple = (100, 200, 300)
# Print the tuple
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple (‘red’,’green’,’blue’,’yellow’).?

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

13. Write a code to find the minimum number in the tuple (10,20,5,15).?

In [ ]:
my_tuple = (10, 20, 5, 15)
min_value = min(my_tuple)
print(min_value)

5

14. Write a code to find the index of the element “cat” in the tuple (‘dog’,’cat’,’rabbit’).?

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
element_to_find = 'cat'

try:
    index = my_tuple.index(element_to_find)
    print(f"The index of '{element_to_find}' is: {index}")
except ValueError:
    print(f"'{element_to_find}' not found in the tuple.")

The index of 'cat' is: 1

15. Write a code to create a tuple containing three different fruits and check if “kiwi” is in it.?

In [ ]:
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("Yes, 'kiwi' is in the fruits tuple.")
else:
    print("No, 'kiwi' is not in the fruits tuple.")

No, 'kiwi' is not in the fruits tuple.

16. Write a code to create a set with the elements ‘a’,b’,’c’ and print it.?

In [ ]:
# Create a set with the specified elements
my_set = {'a', 'b', 'c'}
# Print the set
print(my_set)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1,2,3,4,5}.?

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1,2,3,4}.?

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1,2,3} and {3,4,5}.?

In [ ]:
# Define the two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set_method = set1.union(set2)
print("Union using union() method:", union_set_method)
union_set_operator = set1 | set2
print("Union using | operator:", union_set_operator)

Union using union() method: {1, 2, 3, 4, 5}
Union using | operator: {1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1,2,3} and {2,3,4}

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys “name”, “age”, and “city”, and print it.?

In [ ]:
my_dict = {
    "name": "Jayanta",
    "age": 30,
    "city": "Kolkata"
}
print(my_dict)

{'name': 'Jayanta', 'age': 30, 'city': 'Kolkata'}

22. Write a Code to add a new key-value pair “country”: “USA” to the dictionary {‘name’: ‘John’, ‘age’:25}.

In [ ]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key “name” in the dictionary {‘name’:’Alice’, ‘age’:30}

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

24. Write a code to remove the key “age” from the dictionary {‘name’: ’Bob’, ‘age’:22, ‘city’: ’New York’}.

In [ ]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key “city” exists in the dictionary {‘name’: ‘Alice’, ‘city’: ‘Paris’}.

In [ ]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# Create a list
my_list = [10, 20, 30, "apple", "banana"]
# Create a tuple
my_tuple = (1, 2, 3, "red", "green")
# Create a dictionary
my_dictionary = {"name": "Alice", "age": 30, "city": "New York"}
# Print the list
print("My List:", my_list)
# Print the tuple
print("My Tuple:", my_tuple)
# Print the dictionary
print("My Dictionary:", my_dictionary)

My List: [10, 20, 30, 'apple', 'banana']
My Tuple: (1, 2, 3, 'red', 'green')
My Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[7, 75, 80, 88, 89]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[2])

cherry

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
   dict1 = {'a': 1, 'b': 2}
   dict2 = {'b': 3, 'c': 4}
   merged_dict = dict1 | dict2
   print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

30. Write a code to convert a list of strings into a set.

In [ ]:
my_list = ["apple", "banana", "cherry", "apple", "date"]
my_set = set(my_list)
print(my_set)

{'cherry', 'banana', 'date', 'apple'}